 <div id="head" class="panel panel-primary col-lg-12 col-md-12 col-sm-12 col-xs-12" role="main">
        <div id="head" class="panel-heading ui-draggable-handle col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <!--  <i class="fa fa-chevron-left nav navbar-left"></i>
            <i class="fa fa-chevron-right nav navbar-right"></i> -->
            <h1 class="panel-title" style="color:white" align="center">
                <strong>Food</strong>
            </h1>
        </div>

        <div role="main">
            <div class="">
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="tile-stats">
                            <div class="col-md-2 col-sm-3 col-xs-4">
                                <div class="product-image">
                                    <img src="../images/catering-icon.png" alt="..." />
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <h2>You should consume no more than 40 grams of sugar, or 8 teaspoons per day.</h2>
                                <br />
                                <h2>Diabetics should eat no more than 1600-2000 calories per day.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- page content -->

        <div class="row top_tiles" ng-repeat="food in vm.user.food">
            <div class="animated flipInY col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-click="vm.saveFood()">
                <div class="tile-stats">
                    <a ng-click="vm.saveFood()">
                        <div class="icon"><h4><strong>{{food.calories}} cal</strong></h4></div>
                        <div class="count"><h2><strong>{{food.item_name}}</strong></h2></div>
                        <div class="count"><h4><strong>Sugar : {{food.sugars}} g</strong></h4></div>
                        <div class="count"><h4><strong>Cholesterol : {{food.cholesterol}} mg</strong></h4></div>
                        <br />
                        <h3><i class="fa fa-plus"></i>Add Food</h3>
                    </a>
                </div>
            </div>
        </div>
        <br /><br /><br />
    </div>