<style>
        body {
            font-family: 'Kanit', sans-serif;
        }

        #head {
            color: #333;
            background-color: darkred;
            border-color: #5c5151;
        }
        .centered {
        float: none;
    margin-left: auto;
    margin-right: auto;
    }
</style>

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <strong>Edit Profile</strong>
                    </h2>
                    <div class="clearfix"></div>
                </div>

<div class="x_content">
    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left centered" method="post">
        <div class="form-group">
            <label for="username" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">Username</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">Password</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">Confirm Password</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="password" name="confirm" id="confirm" class="form-control" ng-model="vm.user.confirm" required />
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">Firstname</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="firstname" id="firstname" class="form-control" ng-model="vm.user.firstname" />
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">Lastname</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="lastname" id="lastname" class="form-control" ng-model="vm.user.lastname" />
            </div>
        </div>


                                <div class="form-group">
                                    <label for="gender" class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Gender
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p>
                                            <input class="flat iradio_flat-green" type="radio"
                                                   value="Male" name="gender" ng-model="vm.user.gender" />
                                            Male
                                            <input class="flat iradio_flat-green" type="radio"
                                                    value="Female" name="gender" ng-model="vm.user.gender"/>
                                            Female
                                        </p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Email
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="email" class="form-control has-feedback-left" id="email" placeholder="example@email.com" required="required" name="email" ng-model="vm.user.email">
                                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="age" class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Age
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="age" required="required" class="form-control col-md-7 col-xs-12" name="age" ng-model="vm.user.age">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-6" for="weight">
                                        Weight
                                    </label>
                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        <input type="text" id="lastname" required="required" class="form-control col-md-2 col-xs-6" name="weight" ng-model="vm.user.weight">
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-6" for="height">
                                        Height
                                    </label>
                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        <input type="text" id="lastname" required="required" class="form-control col-md-2 col-xs-6" name="height" ng-model="vm.user.height">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Type
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="type" ng-model="vm.user.type">
                                            <option value="">Select Type</option>
                                            <option value="insulin">insulin</option>
                                            <option value="Not insulin">Not insulin</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Complication
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="complication" ng-model="vm.user.comlication">
                                            <option value="">Select Complication</option>
                                            <option value="No Complication">No Complication</option>
                                            <option value="retinopathy">retinopathy</option>
                                            <option value="nephropathy">nephropathy</option>
                                            <option value="neuropathy">neuropathy</option>
                                            <option value="Diabetic ulcer">Diabetic ulcer</option>
                                            <option value="Diabetic foot">Diabetic foot</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Disease
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="disease" ng-model="vm.user.disease">
                                            <option value="">Select Disease</option>
                                            <option value="No Disease">No Disease</option>
                                            <option value="Cardiovascular Disease">Cardiovascular Disease</option>
                                            <option value="High blood pressure">High blood pressure</option>
                                            <option value="kidney disease">kidney disease</option>
                                            <option value="peripheral neuropathy Disease">peripheral neuropathy Disease</option>
                                            <option value="Eye disease">Eye disease</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Drug allergy
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p>
                                            <input class="flat iradio_flat-green" type="radio"
                                                    value="Yes" name="dragallergy" ng-model="vm.user.dragallergy"> Yes
                                            <input class="flat iradio_flat-green" type="radio"
                                                    value="No" name="dragallergy" ng-model="vm.user.dragallergy"> No
                                        </p>
                                    </div>
                                </div>


                               <div class="form-group">
                                    <label  class="control-label col-md-3 col-sm-3 col-xs-12">
                                        Email Doctor
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="email" class="form-control has-feedback-left" id="emaildoctor" placeholder="example@email.com" required="required" name="emaildoctor" ng-model="vm.user.emaildoctor">
                                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>


        <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-primary pull-right" ng-click="vm.saveUser()">Save</button>
            <button class="btn btn-danger pull-right" ng-click="vm.deleteUser()">Delete</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
