<style>
        body {
            font-family: 'Kanit', sans-serif;
        }

        #head {
            color: #333;
            background-color: darkred;
            border-color: #5c5151;
        }
        .centered {
        float: none;
    margin-left: auto;
    margin-right: auto;
    }
</style>

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
                <div class="x_title">
                    <h2>
                        <strong>{{'EditProfile' | translate }}</strong>
                    </h2>
                    <div class="clearfix"></div>
                </div>

<div class="x_content">
    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left centered" method="post">
        <div class="form-group">
            <label for="username" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback"> {{'Username' | translate }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">{{'password' | translate }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback"> {{'Confirmpassword' | translate }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="password" name="confirm" id="confirm" class="form-control" ng-model="vm.user.confirm" required />
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback"> {{'Firstname' | translate }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="firstname" id="firstname" class="form-control" ng-model="vm.user.firstname" />
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">{{'Lastname' | translate }}</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="lastname" id="lastname" class="form-control" ng-model="vm.user.lastname" />
            </div>
        </div>


                                <div class="form-group">
                                    <label for="gender" class="control-label col-md-3 col-sm-3 col-xs-12">
                                         {{'Gender' | translate }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p>
                                            <input class="flat iradio_flat-green" type="radio"
                                                   value="Male" name="gender" ng-model="vm.user.gender" />
                                             {{'Male' | translate }}
                                            <input class="flat iradio_flat-green" type="radio"
                                                    value="Female" name="gender" ng-model="vm.user.gender"/>
                                             {{'Female' | translate }}
                                        </p> 
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="email" class="control-label col-md-3 col-sm-3 col-xs-12">
                                         {{'Email' | translate }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="email" class="form-control has-feedback-left" id="email" placeholder="example@email.com" required="required" name="email" ng-model="vm.user.email">
                                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="age" class="control-label col-md-3 col-sm-3 col-xs-12">
                                         {{'Age' | translate }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" id="age" required="required" class="form-control col-md-7 col-xs-12" name="age" ng-model="vm.user.age">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-6" for="weight">
                                         {{'Weight' | translate }}
                                    </label>
                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        <input type="text" id="lastname" required="required" class="form-control col-md-2 col-xs-6" name="weight" ng-model="vm.user.weight">
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-6" for="height">
                                         {{'Height' | translate }}
                                    </label>
                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        <input type="text" id="lastname" required="required" class="form-control col-md-2 col-xs-6" name="height" ng-model="vm.user.height">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                         {{'Type' | translate }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="type" ng-model="vm.user.type">
                                            <option value=""> {{'Selecttype' | translate }}</option>
                                            <option value="insulin"> {{'insulin' | translate }}</option>
                                            <option value="Not insulin"> {{'notinsulin' | translate }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                         {{'Complication' | translate }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="complication" ng-model="vm.user.comlication">
                                            <option value="">{{'SelectComplication' | translate }}</option>
                                            <option value="No Complication"> {{'NoComplication' | translate }}</option>
                                            <option value="retinopathy"> {{'retinopathy' | translate }}</option>
                                            <option value="nephropathy"> {{'nephropathy' | translate }}</option>
                                            <option value="neuropathy">{{'neuropathy' | translate }}</option>
                                            <option value="Diabetic ulcer"> {{'DiabeticUlcer' | translate }}</option>
                                            <option value="Diabetic foot"> {{'DiabeticFoot' | translate }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                         {{'Disease' | translate }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" name="disease" ng-model="vm.user.disease">
                                            <option value=""> {{'SelectDisease' | translate }}</option>
                                            <option value="No Disease">{{'NoDisease ' | translate }}</option>
                                            <option value="Cardiovascular Disease">{{'CardiovascularDisease ' | translate }}</option>
                                            <option value="High blood pressure">{{'HighBloodPressure ' | translate }}</option>
                                            <option value="kidney disease"> {{'kidneyDisease' | translate }}</option>
                                            <option value="peripheral neuropathy Disease"> {{'peripheralNeuropathyDisease' | translate }} 
                                            <option value="Eye disease">{{'EyeDisease ' | translate }}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                         {{'DrugAllergy' | translate }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <p>
                                            <input class="flat iradio_flat-green" type="radio"
                                                    value="Yes" name="dragallergy" ng-model="vm.user.dragallergy">  {{'Yes' | translate }}
                                            <input class="flat iradio_flat-green" type="radio"
                                                    value="No" name="dragallergy" ng-model="vm.user.dragallergy"> {{'No' | translate }}
                                        </p>
                                    </div>
                                </div>


                               <div class="form-group">
                                    <label  class="control-label col-md-3 col-sm-3 col-xs-12">
                                         {{'EmailDoctor' | translate }}
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="email" class="form-control has-feedback-left" id="emaildoctor" placeholder="example@email.com" required="required" name="emaildoctor" ng-model="vm.user.emaildoctor">
                                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>


        <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-primary pull-right" ng-click="vm.saveUser()"> {{'Save' | translate }}</button>
            <button class="btn btn-danger pull-right" ng-click="vm.deleteUser()"> {{'Delete' | translate }}</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
